<!DOCTYPE html>
<html>
<meta lang="en">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
<link rel="stylesheet" type="text/css" href="/static/main.css">
<head>
</head>
<body>
<p> <div style="background-color:blue; color:white; padding:20px; font-family:verdana; font-size: 200%;"> My blog!!! </div></p>
{% block content %} {% endblock content %}
</body>
</html>