<!DOCTYPE html>
<html>
<meta lang="en">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
<link rel="stylesheet" type="text/css" href="/static/main.css">
<head>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-xs-3">
			</div>
			<div class="col-xs-3">
	<p> <div style="background-color:blue; color:white; padding:20px; font-family:calibri; font-size: 250%;"> <em> My blog!!! </em></div> </p>
	<p style="background-color:lightgrey; color:black;font-family:calibri;"> <strong>Author:</strong> Vasia Pupkin </p>
	<p style="background-color:lightgrey; color:black;font-family:calibri;"> <strong>Title: </strong>Boroda</p>
	<p style="background-color:lightgrey; color:black;font-family:calibri;"> I am a doctor. I like my job very much. I like traveling and listening to music. </p>
</div>
</div>
</div>

</body>
</html>